{
  parser: "babel-eslint",
  "extends": [
    "react-app",
    "airbnb-base",
    "plugin:jsx-a11y/recommended",
  ],
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "comma-dangle": ["error", "never"],
    "import/no-named-default": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "jsx-a11y/no-onchange": off,
    "no-else-return": "off",
    "semi": [2, "never"]
  }
}
