@import '~bootstrap/scss/bootstrap.scss';

@font-face{
    font-family: 'DIN Round Pro Thin';
    src: url('../fonts/DINRoundPro-Thin.woff') format('woff'),
         url('../fonts/DINRoundPro-Thin.svg#svgFontName') format('svg'); /* Legacy iOS */
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #361163;
  color: white;
  font-family: 'DIN Round Pro Thin' !important;
}

div#screen-wrapper {
  height: 1080px;
  width: 1920px;
  outline: 1px solid #000;
  position: relative;
  overflow: hidden;
}

@import './news/NewsBoard.scss';
@import './news/NewsItem.scss';