.board {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 2fr 2fr;
}

.board-attribution {
  position: absolute;
  bottom: 12px;
  font-size: 0.6rem;
  margin: 0;
}

.board-page-header {
  background-color: #B70062;
  padding: 8px;
  display: inline-block;
  border-bottom-right-radius: 0.25rem;
}
